h1 {

  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: verdana;
}
a {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}
h2 {
  font-weight: 300;
  font-size: 42px;
}
#info h3 {
  font-size: 22px;
  color: grey;
}
#footer h3 {
  text-align: right;
  color: grey;
}
